/* 
COLOR PALETTE
#22092C
#872341
#BE3144
#F05941

*/

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* By default, 1rem = 16px */
  /* 62.5% of 16px = 10px  */
  /* Then, 1rem becomes equal to 10px */
  font-size: 62.5%;

  --default-font-size: 1.6rem;
  --sgbus-green: #9be564ff;
  --green-yellow: #b9ee60ff;
  --citrine: #d4ca3cff;
  --goldenrod: #d19c1dff;
  --dark-goldenrod: #bc871dff;
  --golden-brown: #a7711cff;
  --apple-green: #a1a939;
  --apple-green: #b1ba3f;
  --pear-1: #c3cd45;
  --pear-3: #d6e04c;

  --mindaro: #c8f35eff;
  --pear: #d6e14cff;
  --citron: #cbcd46;
  --oldgold: #d3b32d;
  --border-color: #d3b32d77;
  --russet: #7d451bff;
  --kobicha: #62391b;
  --bistre: #472c1bff;
}

body {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: var(--citron);
  font-family: "Press Start 2P";
  height: 100vh;
  background: var(--bistre);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  width: 900px;
  height: 600px;
  background-color: var(--kobicha);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

h1 {
  font-size: 24px;
  text-align: end;
  margin-top: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  border-bottom: 2px solid var(--border-color);
}

h1 span {
  display: inline-block;
  transform: translate(10px, 7px);
}

.hidden {
  display: none !important;
}

.message {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.win-message {
  position: absolute;
  top: 40%;
  color: #fff;
}

.tie-message {
  position: absolute;
  top: 38%;
  left: 47.5%;
  color: #fff;
}

.versus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: var(--russet);
  border: 1px solid var(--border-color);
  color: var(--citron);
}

.tie {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
}

.round {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
}

.players-container {
  display: flex;
  position: relative;
  flex-basis: 100%;
}

.player {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.player--1 {
  align-items: start;
  padding: 48px;
}

.player--2 {
  align-items: end;
  padding: 48px;
}

.winner .player-name {
  color: #fff;
}

.winner .player-name::after {
  content: "Wins!!!";
  margin-left: 12px;
}

.player-name {
  font-size: 20px;
  margin-bottom: 24px;
}

.score {
  font-size: 14px;
  margin-bottom: 40px;
}

.images-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.image {
  display: inline-block;
  height: 48px;
  aspect-ratio: 1;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  padding: 2px;
}

#selection-player1,
#selection-player2 {
  height: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#selection-player1 {
  left: 35%;
}

#selection-player2 {
  right: 35%;
}

.btn {
  position: absolute;
  top: 80%;
  border: none;
  border-radius: 7px;
  background: none;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--bistre);
  padding: 12px 24px;
  color: var(--citron);
  transition: all 0.3s;
}

.btn:disabled:hover {
  cursor: not-allowed;
  background-color: var(--bistre) !important;
  color: var(--citron) !important;
}

.btn:hover {
  color: var(--bistre) !important;
  background-color: var(--citron) !important;
}

.btn.play {
  left: 34%;
}

.btn.ready {
  left: 53%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  z-index: 99;
}

.label-rules {
  position: absolute;
  top: 12px;
  left: 8px;
  font-size: 12px;
  cursor: pointer;
}

.rules {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background: var(--kobicha);
  border-radius: 7px;
  z-index: 999;
  font-family: sans-serif;
  padding: 32px;
  padding-bottom: 44px;
  font-size: 18px;
}

.rules h2 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 32px;
}

.rules li {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn-close-rules {
  position: absolute;
  top: 16px;
  right: 24px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: var(--citron);
}
